#cont{
    margin-top: 50px;
    width: 400px;
    height: 100%;
}
#cont1{
    border: 2px solid black;
    width: 430px;
    height: 63px;
}

#myid{
    margin-top: 50px;
}
#h11{
    display: flex;
    justify-content: center;
    font-family: cursive;
}

